
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Master.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <div style="text-align:center">
                    <h4>
                        <b style="direction:rtl">   بنرهای عمودی 350*250</b>
                    </h4>
                </div>
                <a class="btn btn-primary" href="/Admin/Banner/Create?Type=0">
                    افزودن بنر
                </a>
            </div>

            <div class="box-body">
                @foreach (var s in ViewBag.DataH)
                {
                    <div class="col-md-3" style="padding:20px">
                        <img src="@s.Image" style="display:block;width:100%;height:350px" />
                        <a class="btn btn-danger" style="width:100%" href="/Admin/Banner/Delete/@s.Id">
                            حذف
                        </a>
                    </div>

                }
            </div>

        </div>
    </div>

    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <div style="text-align:center">
                    <h4>
                        <b style="direction:rtl">   بنرهای افقی 217*290</b>
                    </h4>
                </div>
                <a class="btn btn-primary" href="/Admin/Banner/Create?Type=1">
                    افزودن بنر
                </a>
            </div>

            <div class="box-body">
                @foreach (var s in ViewBag.DataV)
                {
                    <div class="col-md-3" style="padding:20px">
                        <img src="@s.Image" style="display:block;width:100%;height:350px" />
                        <a class="btn btn-danger" style="width:100%" href="/Admin/Banner/Delete/@s.Id">
                            حذف
                        </a>
                    </div>

                }
            </div>

        </div>
    </div>
</div>