
@{
    ViewBag.Title = "اخبار";
    Layout = "~/Areas/Admin/Views/Shared/_Master.cshtml";
}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">اخبار بازاریاب</h3>

            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive">
                <br>
                <a href="/Admin/MarketerNews/Create" class="btn btn-success">
                    ایجاد خبر
                </a>
                <br>
                @*@include('errors')*@
                <table class="table table-hover">
                    <tr class="">
                        <th>عنوان خبر</th>
                        <th>عملیات</th>
                    </tr>
                    @foreach (var News in ViewBag.Data.Data)
                    {
                        <tr>
                            <td>@News.Title</td>
                            <td>

                                <form action="/Admin/MarketerNews/Delete" method="post">
                                    <div class="btn-group">

                                        <a href="/Admin/MarketerNews/Edit/@News.Id" class="btn btn-sm btn-success">
                                            ویرایش
                                        </a>
                                        <a href="/Admin/MarketerNews/Delete/@News.Id" class="btn btn-sm btn-danger" type="submit">حذف</a>

                                    </div>

                                </form>
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        @Html.Raw(@ViewBag.Data.GetLinks())


    </div>
</div>

<script>
    function setImage() {
                        var myURL = window.URL || window.webkitURL;
                        var fileURL = myURL.createObjectURL(fileUpload.files[0]);
                        imgUpload.src=fileURL;
                    }
</script>