
@{
    ViewBag.Title = "ActiveLink";
    Layout = "~/Views/Shared/Master.cshtml";
}
<div style="text-align:right">
    <br />

    <h2>حساب کاربری شما با موفقیت فعال شد</h2>
    <br />
    <br />
    <a href="/User/Login" class="btn btn-success">
        ورود به حساب کاربری
    </a>
</div>