@model WebApplication1.Models.Setting
@{
    ViewBag.Title = "HowToWork";
    Layout = "~/Areas/Admin/Views/Shared/_Master.cshtml";
}


<div class="box box-primary">

    <form enctype="multipart/form-data" method="post" action="/Admin/Setting/StoreSetting" role="form">
        <input name="HowToWorkFlag" value="1" type="hidden" class="form-control" id="">
        @Html.AntiForgeryToken()
        <!-- /.box-header -->

        <div class="box-body">

          
            <div class="form-group">
                <label style="" for="exampleInputEmail1">نحوه فعالیت</label>
                @Html.CkeditorFor(m => m.HowToWork)




        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button type="submit" class="btn btn-success">
                ثبت

            </button>


        </div>
    </form>
</div>



<script>
  $(function () {
    // Replace the <textarea id="editor1"> with a CKEditor
    // instance, using default configuration.

    //bootstrap WYSIHTML5 - text editor
      $('.textarea').wysihtml5();
  })

</script>