
@{
    ViewBag.Title = "Pay";
    Layout = "~/Views/Shared/Master.cshtml";
}


@{
    Layout = "~/Views/Shared/Master.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12" style="margin:30px;text-align:center">
            <h3 style="color:green"> @if (ViewBag.Message == null)
            { @String.Format("متاسفانه سیستم با خطا مواجه شده است") }
            else
            {@ViewBag.Message}</h3>



        </div>
        <div class="col-md-12 d-md-block d-none" style="margin:30px;text-align:center">
            <a href="/User/Profile" style="font-size:16px" class="btn btn-success">بازگشت به پروفایل کاربری</a>
        </div>

        <div class="col-sm-12 d-sm-block  d-md-none d-xl-none  d-lg-none d-xs-block" style="margin:30px;text-align:center">
            <a href="intent://@(ViewBag.transactionState)#Intent;scheme=danesh;package=ir.shop1.shop1;end" style="font-size:16px" class="btn btn-success">بازگشت به اپلیکیشن</a>
        </div>
    </div>
</div>